{{ define "main" }}
<div class="container">
    <section class="section hero">
        <div class="hero-owner">
            {{ $avatar := .Site.Params.avatar }}
            {{ $default_image := "images/default.png" }}
            {{ $image := "" }}
            {{ with $avatar }}
                {{ $image = resources.Get $avatar }}
            {{ else }}
                {{ $image = resources.Get $default_image }}
            {{ end }}
            {{ if eq .Site.Params.grayscale_avatar true }}
                {{ $image = $image | images.Filter (images.Grayscale)  }}
            {{ end }}
            <img class="hero-avatar"
                src="{{ $image.RelPermalink }}"
                width="300" height="300"
                alt="Headshot or avatar belonging to the website owner"/>
        </div>
        <div class="hero-info">
            <h1 class="hero-title">Hi. I'm <span class="text-teal-500 font-bold">Aurélien</span></h1>
            {{ with .Params.subtitle }}
                <p class="hero-subtitle">A junior <span class="text-teal-500 font-bold"> FullStack Developer </span> </p>
            {{ end }}
            <!-- <div class="btn-group">
                <a class="btn-primary" href="{{ "about/" | relURL }}">About</a>
                <a class="btn-secondary" href="{{ "projects/" | relURL }}">Projects</a>
            </div> -->
        </div>
    </section>
    <section class="section">
      <h1 class="text-5xl">My stack</h1>
      <div class="hero pt-10">
        {{ partial "general/stack.html" . }}
      </div>
    </section>
  <!-- <section class="section">
    <div class="home-title-dropdown">
      <h2 class="home-section-posts-title">
        {{- with .Params.posts_section_heading -}}
          {{- . -}}
        {{- else -}}
          Recent Posts
        {{- end -}}
      </h2>
      <select name="choice" id="select-posts">
        {{ range (where .Sections "Section" "posts") }}
        <option value="all-{{ .Name | lower }}" selected>All {{ .Name | lower }}</option>
        {{ range .Sections }}
        {{ if .CurrentSection.Pages }}
        <option value="{{ replace .CurrentSection.RelPermalink "/" "" | lower }}">{{ .CurrentSection.Name }}</option>
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
    </div>
    {{ range (where site.RegularPages "Section" "posts" | first 10) }}
      <div class="post-entry-filter entry--{{ replace .CurrentSection.RelPermalink "/" "" | lower }}">
        {{ partial "posts/post-entry.html" . }}
        <div class="post-entry-divider"></div>
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
    <a class="btn-secondary see-more" href="{{ "posts/" | relURL }}">More Posts</a>
  </section> -->
  <section class="section">
    <h1 class="text-5xl pb-10">My projects</h1>
    {{ $projects := where site.RegularPages "Section" "projects" | first 20 }}
    {{ with $projects }}
      <div class="project-list">
        {{- range . }}
          {{ partial "projects/project-entry.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </section>
  <section class="section">
    <h1>Let's get in touch</h1>
    {{ if eq .Site.Params.home_hero_socials true }}
        {{ partial "general/social-links.html" . }}
    {{ end }}
  </section>
</div>
{{ end }}