html {
    background-color: #201e26;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 50%;
    width: 210mm;
    height: 297mm;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
}

main {
    display: inline-block;
    margin: 1em;
    width: 66%;
}

h1, h2{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 0.25em;
}

h2 {
    margin-bottom: 2em;
}

#contact {
    margin-bottom: -0.75em;
    margin-left: -0.5em;
}

.contact-info {
    display: inline;
    padding-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    color: white;
}

h3#formationsTitle {
    background-color: #EB8565;
}

h3#experienceTitle {
    background-color: #EB6565;
}

h4 {
    font-size: 1.25em;
    font-weight: 200;
}

aside {
    display: inline-block;
    left: 0;
    margin: 1em;
    width: 25%;
}

.photo {
    width: 10em;
    height: 10em;
}

h5 {
    color: #EB8565;
    font-size: 1.1em;
}

.logo {
    width: 1.25em;
    height: 1.25em;
}

.bold {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
}